<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="6193c24f-4084-4f5e-9f48-702d150f6be4" port="8090" path="/" host="LPTWRK-HELI" name="GlobalWeatherSoap12 Virt" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="6193c24f-4084-4f5e-9f48-702d150f6be4fileName">GlobalWeatherSoap12-Virt</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:dataSources/><con:headerValidator type="NONE"/></con:mockService>